[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "bootstrap-sass"]
	path = bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
	branch = 3.3-stable
