---
layout: glasz
title: glasz
---

<article class="container">
	<section class="intro">
		<header>
			<h1>glasz <small class="meta">code + consulting</small></h1>
		</header>
		<nav class="i18n">
			<a href="#en" class="js-i18n-intro active" data-lang="en">en</a>
			<a href="#pt" class="js-i18n-intro" data-lang="pt">pt</a>
			<a href="#es" class="js-i18n-intro" data-lang="es">es</a>
		</nav>
		<div class="intro-i18n-item intro-en" data-lang="en">
			<p class="lead">need help turning your idea into a working product, adding features or extending your infrastructure?</p>
			<p class="lead">i can help across the entire stack with more than a decade of experience.</p>
			<p><a href="mailto:{{ site.email }}" class="button">contact me</a></p>
		</div>
		<div class="intro-i18n-item intro-pt" data-lang="pt" style="display:none;">
			<p class="lead">precisa de ajuda para transformar sua ideia em um produto funcional, adicionar recursos ou ampliar sua infraestrutura?</p>
			<p class="lead">posso ajudar em toda a pilha com mais de uma década de experiência.</p>
			<p><a href="mailto:{{ site.email }}" class="button">contate-me</a></p>
		</div>
		<div class="intro-i18n-item intro-es" data-lang="es" style="display:none;">
			<p class="lead">¿necesita ayuda para convertir su idea en un producto que funcione, agregar funciones o ampliar su infraestructura?</p>
			<p class="lead">puedo ayudar en toda la pila con más de una década de experiencia.</p>
			<p><a href="mailto:{{ site.email }}" class="button">contáctame</a></p>
		</div>

		<script>
			var items = document.querySelectorAll(".intro-i18n-item")
			var nav   = document.querySelectorAll('.js-i18n-intro')

			function each(o, f) { [].forEach.call(o, f) }

			function switchLanguage(lang) {
				each(nav, function(el) {
					el.classList.remove("active")
					el.dataset.lang == lang && el.classList.add("active")
				})
				each(items, function(el) {
					el.style.display = el.dataset.lang == lang ? null : 'none'
					document.body.parentNode.setAttribute('lang', lang)
				})
			}

			each(nav, function(el) {
				el.addEventListener(
					'click',
					function(e) { switchLanguage(e.target.dataset.lang) },
					false
				)
			})
		</script>
	</section>

	<section class="projects">
		<h2>projects</h2>

		<div class="projects">
      {% for project in site.data.projects %}
			<figure class="{{ project.id }}">
				<a href="{{ project.link }}">
				<div class="shot"></div>
				<figcaption>
					<h3>{{ project.title }}</h3>
					<p>{{ project.intro }}</p>
					<p class="labels">
						{% for tag in project.tags %}
						<span class="label">{{ tag }}</span>
						{% endfor %}
					</p>
				</figcaption>
				</a>
			</figure>
      {% endfor %}
    </div>
	</section>

	<section class="sheeplog">
		{% if site.posts.first %}
			<p>
				blog: <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a> <span>&raquo;</span>
			</p>
		{% endif %}
	</section>

	<section>
		<h2>recent contributions on github</h2>

		<div class="contributions">
			{% capture gh_contribs %}{% include github_contributions.md %}{% endcapture %}
			{{ gh_contribs | markdownify }}
    </div>
	</section>
</article>
