<nav class="blogroll">
  <h4>Blogroll</h4>
  <ul>
    <li><a href="https://daringfireball.net/">Daring Fireball</a></li>
    <li><a href="https://robots.thoughtbot.com">Thoughtbots</a></li>
    <li><a href="https://www.blackopradio.com/archives.html">Black Op Radio</a></li>
  </ul>

  <h5>deutsch</h5>
  <ul>
    <li><a href="https://www.lawblog.de/">law blog</a></li>
    <li><a href="https://sicherungsblog.wordpress.com/">NSU Leaks</a></li>
    <li><a href="http://oktoberfest.arbeitskreis-n.su/">Oktoberfest 1980</a></li>
    <li><a href="http://logbuch-netzpolitik.de/">Logbuch: Netzpolitik</a></li>
    <li><a href="https://netzpolitik.org/">Netzpolitik</a></li>
    <li><a href="http://fernsehkritik.tv/blog/">Fernsehkritik</a></li>
  </ul>
</nav>