<form action="https://wtf.us1.list-manage2.com/subscribe/post?u=33db9b9351b042639f71477b4&amp;id=31b72a6403" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline well-sheet" role="form">
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_33db9b9351b042639f71477b4_31b72a6403" value="">
  </div>

  <p>
    <label class="control-label" for="mce-EMAIL">Don't miss shit. Subscribe via email.</label>
    <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="your@email.com" required>
    <button type="submit" class="btn btn-default">Subscribe</button>
  </p>
</form>
