<article>
  <h1><a href="{{ post.url }}">{{ post.title }}</a> <small class="post-date">{{ post.date | date: "%-d %b %Y" }}</small></h1>

  {{ content }}

  {% unless page.tags == empty %}
  <div class="tags">
    <small class="tags">Tagged with {{ page.tags | join: ', ' }}</small>
  </div>
  {% endunless %}
</article>

{% if page.previous || page.next %}
<nav class="post-navigation">
  {% if page.previous %}
  <a href="{{page.previous.url}}" class="prev-post">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 1024">
      <path d="M448 320L320 192 0 512l320 320 128-128L256 512 448 320z" />
    </svg>
    <span>{{page.previous.title}}</span>
  </a>
  {% endif %}

  {% if page.next %}
  <a href="{{page.next.url}}" class="next-post">
    <span>{{page.next.title}}</span>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 1024">
      <path d="M128 192L0 320l192 192L0 704l128 128 320-320L128 192z"/>
    </svg>
  </a>
  {% endif %}
</nav>
{% endif %}
