/* teko-300 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/teko-v9-latin/teko-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Teko Light'), local('Teko-Light'),
       url('/static/fonts/teko-v9-latin/teko-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-300.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-regular - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Teko Regular'), local('Teko-Regular'),
       url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/fonts/teko-v9-latin/teko-v9-latin-regular.svg#Teko') format('svg'); /* Legacy iOS */
}