---
---

@import "fonts";

$tablet: 40rem;

* {
  margin: 0;
  padding: 0;
}

html {
  background: #151515;
  min-height: 100%;
  font-size: 16px;
}

body {
  color: #f1f1f1;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sen';
  font-weight: 400;
  .meta {
    font-weight: 300;
  }
}

h1 {
  font-size: 3rem;
  color: #fff;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  margin: 2rem 0;
}

b {
  font-weight: 400;
}

a:link, a:visited {
  color: #f1f1f1;
  text-decoration: none;
  border-bottom: 1px solid #a1a1a1;
}

.container {
  max-width: $tablet;
  margin: auto;
  padding: 0 1rem;
  @media (min-width: $tablet) {
    padding: 0;
  }
}

header {
  font-size: 1.25rem;
}

footer {
  text-align: center;
}

section {
  margin: 3rem auto;
  @media (min-width: $tablet) {
    margin: 10rem auto;
    &:first-child {
      margin-top: 5rem;
    }
    &:last-child {
      margin-bottom: 5rem;
    }
  }
}

ul.styled {
  list-style: none;
}

.intro {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(#fff, 0.7);
  h1 {
    color: #fff;
    line-height: 1;
    .meta {
      color: rgba(#fff, 0.7);
      font-weight: 300;
    }
  }
  p {
    hyphens: auto;
    -webkit-hyphens: auto;
    @media (min-width: $tablet) {
      hyphens: none;
      -webkit-hyphens: none;
    }
  }
}

.button {
  display: inline-block;
  font-family: 'Teko';
  font-size: 2rem;
  background: rgba(#fff, 0.7);
  color: #343434 !important;
  box-shadow: 0 0 5px #343434;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  border-bottom: 0 !important;
  &:hover {
    background: #f0f0f0;
  }
}

.project-icon {
  padding-left: 24px;
  background-position: 2px center;
  background-repeat: no-repeat;
}
.starve-icon {
  @extend .project-icon;
  background-image: url('/static/starve.png');
}
.cocktailicious-icon {
  @extend .project-icon;
  background-image: url('/static/cocktailicious.png');
}
svg.github-icon {
  color: #fff;
  fill: currentColor;
  vertical-align: middle;
}

.projects {
  figure {
    flex: 1 auto;
    margin: 2rem 0;
    border-radius: 8px;
    border: 1px solid #343434;
    background-color: darken(#343434, 10%);
    box-shadow: 0 0 5px #343434;
    overflow: auto;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    > * {
      margin: 0.5rem;
    }
    .shot {
      background-size: cover;
      background-position: top center;
      border-radius: 8px;
      min-height: 400px;
    }
  }
  figcaption {
    text-align: left;
    color: #fff;
    padding: 0 0.5rem;
    a:link {
      display: block;
      border: 0;
      padding: 0.5rem 0;
    }
  }

  @each $project in (bubble starve cocktailicious) {
    .#{$project} .shot {
      background-image: url("/static/projects/#{$project}.jpg");
      @media (min-width: $tablet) {
        background-image: url("/static/projects/#{$project}-tablet.jpg");
      }
    }
  }
}

.sheeplog {
  word-break: all;
  flex: 0 1 50%;
  background-color: #1c1c1c;
  border: 1px solid #252525;
  box-shadow: 0 1px 20px #000;
  font-size: 1.5rem;
  border-radius: 3px;

  p {
    margin: 2rem;
    line-height: 1.5;
  }
}

.label {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
  color: darken(#f1f1f1, 30%);
  border: 1px solid darken(#f1f1f1, 30%);
  border-radius: 3px;
}

.contributions ul {
  list-style: none;
  line-height: 2;
  font-size: 1.25rem;
  margin: 2rem 0;
}
