---
---
body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #151515;
  color: #ededed;
  line-height: 1.5;
}
main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}
header {
  margin-bottom: 1.5rem;
}
h1 {
  margin-bottom: .5rem;
}
time {
  color: #888;
  text-decoration: italic;
}
pre {
  white-space: pre-wrap;
}
hr {
  margin-top: 2rem;
}
#fn {
  font-size: 85%;
}
a {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #fff888;
}



h1, h2, h3 {
  color: #fff;
  line-height: 1;
  a {
    color: inherit;
  }
}

p a { text-decoration: underline; }

.brand {
  margin-bottom: 3rem;
}

h1.logo {
  font-size: 3rem;
  text-align: center;
  img { vertical-align: middle; }
}

article, footer {
  margin: 4rem 0;
}
figure {
  margin: 1em auto;
}
.post-navigation, .tags {
  margin: 2rem 0;
}

blockquote,
figure.highlight,
div.highlight,
p code {
  background-color: #1c1c1c;
  border: 1px solid #242424;
}
p code {
  padding: 0.25rem;
  color: lightyellow;
}

blockquote,
figure.highlight,
div.highlight {
  margin-left: -1rem;
  margin-right: -1rem;
}
.highlight,
.highlight pre,
.highlight code,
.highlight .err {
  background-color: #1c1c1c;
}
.highlight pre {
  margin: 0;
  white-space: pre;
}
.highlight > pre {
  margin: 0;
  padding: 1rem;
  overflow: scroll;
}
.gl pre { margin-right: 1rem; }

blockquote {
  border-left: 2px solid #ededed;
  padding: 0.5rem 1rem;
}

p {
  hyphens: auto;
  -webkit-hyphens: auto;
}

footer {
  background-color: #000;
  border: 1px solid #242424;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

input[type=email],
input[type=text],
button[type=submit] {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid #242424;
}
input[type=email],
input[type=text] {
  background-color: #151515;
  color: inherit;
}
button[type=submit] {
  text-transform: uppercase;
  background-color: transparent;
  color: inherit;
}

.post-date, .tags {
  white-space: nowrap;
  font-weight: lighter;
  color: #ccc;
}
.post-navigation {
  display: flex;
  > a {
    word-break: all;
    flex: 0 1 50%;
    background-color: #1c1c1c;
    border: 1px solid #202020;
    padding: 1rem;
    box-shadow: 0 3px 6px #000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    &:last-child {  margin-right: -1rem; text-align: right; }
    &:first-child { margin-left: -1rem; text-align: left; }
    &:hover {
      background-color: #1e1e1e;
      border-color: #242424;
      text-decoration: none;
    }
  }
  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    vertical-align: middle;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

