@import "bootstrap.less";

@font-size-base: 14px;
@container-lg: @container-sm;
@container-md: @container-sm;
@jumbotron-bg: #f9f9f9;
@page-header-border-color: #f9f9f9;

@font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
@headings-font-family: @font-family-serif;

@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:400,700);

body {
  background-color: #f9f9f9;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    body {
        background-image: url('snow@2x.png');
        background-size: 300px 300px;
    }
}

.label, .badge {
  text-shadow: none;
}

pre {
  background-color: transparent;
  text-shadow: none;
  border: 0;
  code { border: 0; }
}

.highlight {
  padding: 0 6px;
}

blockquote {
  border-left: 5px solid #dfdfdf;
  border-left-width: 5px;
  background-color: #fff;
  border-radius: 3px;
}

code {
  border: 1px solid #d3d3d3;
  background-color: #FDF6E3;
  color: #586E75;
  font-size: 80%;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
  color: inherit;
}

footer, footer a {
  color: @gray-light;
}

footer.container {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (min-device-pixel-ratio: 2) {
  body {
    background-image: url('fabric_plaid_@2X.png');
    background-size: 200px 200px;
  }
}

a {
  transition: all 0.2s;
}

.jumbotron {
  text-transform: uppercase;
  h1 {
    font-weight: bolder;
  }
  small {
    font-size: 45%;
  }
}

.list-heading {
  padding-left: 15px;
}

ul.list-group {
  list-style: none;
}

.starve, .cocktailicious {
  padding-left: 45px;
  background-position: 15px center;
  background-repeat: no-repeat;
}

.starve {
  background-image: url('/static/starve.png');
}

.cocktailicious {
  background-image: url('/static/cocktailicious.png');
}

.post {
  &:extend(.container);
  font-size: 18px;
  line-height: 175%;
  h2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.post-navigation {
  &:extend(.container);
  margin-top: 50px;
  margin-bottom: 50px;
}

.embed {
  margin-top: 30px;
  margin-bottom: 30px;
}

.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.comments {
  margin-top: 2em;
  margin-bottom: 2em;
  background: white;
  box-shadow: 0 2px 3px #efefef;
}

#disqus_thread {
  padding-top: 15px;
  padding-bottom: 15px;
}

.email-signup-container {
  &:extend(.container);
  &:extend(.text-center);
  margin-top: 50px;
  margin-bottom: 50px;
}

iframe[id^='twitter-widget-']{
  width:100%;
}
