@import url(//fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow:400,700);

html, body {
  height: 100%;
}

body {
  background: url('snow.png');
  text-shadow: 0 1px 0 #fff;
  font-size: 18px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    body {
        background-image: url('snow@2x.png');
        background-size: 300px 300px;
    }
}

pre {
  background-color: transparent;
  text-shadow: none;
  border: 0;
}

.highlight {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 6px;
}

blockquote {
  border: 1px solid #d3d3d3;
  border-left-width: 5px;
  background-color: #e7e7e7;
  border-radius: 3px;
}

code {
  border: 1px solid #d3d3d3;
  background-color: #FDF6E3;
  color: #586E75;
  font-size: 80%;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
  color: inherit;
}

footer.container {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (min-device-pixel-ratio: 2) {
  body {
    background-image: url('fabric_plaid_@2X.png');
    background-size: 200px 200px;
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  transition: all 0.2s;
}

.jumbotron {
  background: none;
  text-transform: uppercase;
}
.jumbotron h1 {
  font-weight: bolder;
}

.list-heading {
  padding-left: 15px;
}

ul.list-group {
  list-style: none;
}

.starve, .cocktailicious {
  padding-left: 45px;
  background-position: 15px center;
  background-repeat: no-repeat;
}

.starve {
  background-image: url('/static/starve.png');
}

.cocktailicious {
  background-image: url('/static/cocktailicious.png');
}

.comments {
  margin-top: 2em;
  margin-bottom: 2em;
}

.post, .comments {
  background: white;
  border: 1px solid #dfdfdf;
  box-shadow: 0 2px 3px #efefef;
}

#disqus_thread {
  padding-top: 15px;
  padding-bottom: 15px;
}
