---
layout: master
body_class: blog
---

<header class="brand">
  <h1 class="logo">
    <img src="/static/sheep@2x.png" width="64" height="64">
    <a href="/sheeplog">sheeplog</a>
  </h1>
</header>

{{ content }}

<!-- {% include blogroll.html %} -->

<footer>
  <p>When not focussing on technical topics Sheeplog is an attempt to reflect
  on the reason for mankind being submissive to tyranny. Why every single one
  of us likes to be a sheep. You can reach me via <a href="mailto:{{site.email}}">{{site.email}}</a>.</p>

  {% include email_subscription.html %}
</footer>