<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
  	{{ content }}

  	<footer class="container">
  		<p>&copy; Martin Glaß, <a href="mailto:mail@glasz.org">mail@glasz.org</a> <a href="https://coderwall.com/glaszig"><img alt="Endorse glaszig on Coderwall" src="https://api.coderwall.com/glaszig/endorsecount.png" /></a></p>
  	</footer>
    {% include ga.html %}
  </body>
</html>
