<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}{% if page.page_title %} - {{ page.page_title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/static/syntax/tomorrow-night.css">
    <link rel="stylesheet" type="text/css" href="/static/sheeplog.css">
    <link href="{{ site.feed_url | expand_urls: site.url }}" rel="alternate" title="{{site.blog_title}}" type="application/atom+xml">
  </head>

  <body class="{{page.body_class}}">

    <main>
      {{ content }}

      <p>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
      </p>
    </main>

    {% include ga.html %}
  </body>
</html>
